{% extends 'base.html' %}

{% block title %}
My Activities
{% endblock title %}

{% block content %}

<div class="card mt-2 text-monospace" style="background-color: darkslategray">
    <div class="card-header d-flex w-100 justify-content-between" style="background-color:slategray">
        <h3><strong>My Activities</strong></h3>
    </div>

    {% if activity_list %}
    <div class="card-columns mt-2">

        {% for activities in activity_list %}
        <div class="card ml-2" style="background-color:darkslategray">
            <div class="card-header" style="background-color:slategray">
                <strong>{{ activities.event }}</strong>
            </div>

            <div class="card-body">
                <p class="card-text mb-2"><strong>{{ activities.event.date_from }} - {{ activities.event.date_to }}</strong></p>
                <p class="card-text mb-2"><strong>{{ activities.event.description | slice:"0:70"}} ...</strong></p>
                <hr style="background-color:azure">
                <p class="card-text mb-2"><small>Event Creator: {{ activities.event.creator }} </small></p>
            </div>

            <div class="card-footer">
                <a href="" style="margin-left:50%"><button class="btn btn-outline btn-success">Check Attendance</button></a>
            </div>
        </div>
        {% endfor %}

    </div>

    {% else %}
    <a href="{% url 'home' %}" class="mt-4 list-group-item list-group-item-action list-group-item-warning">
        There Are No Activities to Display.
    </a>
    {% endif %}
</div>
{% endblock content %}