{% extends "base.html" %}
{% load crispy_forms_tags %}


{% block title%}
Create New Event
{% endblock title %}

{% block content %}
<div class="card" style="background-color:darkslategray">
        <div class="card-header">
          Create New Event
        </div>
        <div class="card-body">
          
                <form method="post" action="" style="color:azure">
                        {% csrf_token %}
                    
                        {{ form | crispy }}
                    
                        <button type="submit" class="btn btn-primary">Create</button>
                </form>
        </div>
</div>


{% endblock content %}