{% extends 'base.html' %}

{% block title %}
Event Detail
{% endblock title %}

{% block content %}

    <div class="card mt-2" style="background-color:darkslategray">
        <div class="card-header">
            <h4><strong>Event Details</strong></h4>
        </div>
        <div class="card-body">
          <h5 class="card-title"><strong>{{ event.name }}</strong></h5>
          <p class="card-text">Schedule: {{ event.date_from }} - {{ event.date_to }}</p>
          <p class="card-text">Venue: {{ event.venue }}</p>
          <p class="card-text">{{ event.description }}</p>
        </div>
        <div class="card-footer">
            <!--<a href="#!"><button class="btn btn-primary">Show Participants</button></a>-->
            <center>
                <a href="{% url 'join_event' event.pk %}"><button class="btn btn-success">Join Event</button></a>
            </center>
        </div>
    </div>

{% endblock content %}