<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">

  {% extends "base.html" %}

  {% block title %}
  Home
  {% endblock title %}

  {% block content %}
  <center>
    <p class="text-monospace" style="padding-top:10%; font-size:28px"><strong>Event Management System</strong></p>
    <p class="text-monospace" style="padding-top:5%; font-size: 20px; color:azure"><strong>SHS Work Immersion <br>
        Group 4</strong></p>
  </center>
  {% endblock content %}